@model Portfolio_uppgift.Models.Project

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = Model.Title;
}

<div class='projectImage' style='background:url("@Html.DisplayFor(model => model.Image)") no-repeat top center'></div>

<div class="headline">
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <p>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) <span>|</span>
            <span class="delete">@Html.ActionLink("Delete", "Delete", new { id = Model.ID })</span>
        }

    </p>

    <p>@Html.DisplayFor(model => model.About)</p>

    @if (Model.Link != null)
    {
        <a href="@ViewBag.Link"> <button class="btn">Visit Homepage!</button></a>
    }
    </div>

<hr />
<p class="back">@Html.ActionLink("← Back to List", "Index")</p>
