@model IEnumerable<Portfolio_uppgift.Models.Project>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Portfolio";
}
<div class="row col-lg-12">
    <div class="headline">
        <h1>Portfolio</h1>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Create New", "Create")
        }
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <a href='@Url.Action("Details", "Projects", new { id = item.ID })'>
            <div class="col-md-3 projectStart">
                <div class='projectStartImage' style='background:url("@Html.DisplayFor(modelItem => item.Image)") no-repeat center center'></div>

                <h2>
                    @Html.DisplayFor(modelItem => item.Title)
                </h2>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <span>|</span>
                    <span class="delete">@Html.ActionLink("Delete", "Delete", new { id = item.ID })</span>
                }
            </div>
        </a>
    }
</div>
